#menu{
    min-height: 50px;
}
#conteneur {
    padding-top: 10px;
}
a.vignetteLink,a.vignetteLink:hover,a.vignetteLink:visited {
    text-decoration:none;
}
div.vignette{
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
}