#menu{
    min-height: 50px;
}
#conteneur {
    padding: 10px 20px 0 20px;
}
a.vignetteLink,a.vignetteLink:hover,a.vignetteLink:visited {
    text-decoration:none;
}

a,a:hover,a:visited {
    text-decoration:none!important;
}
div.vignette{
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
}
span.titreVignette{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}

div.control-group {
    margin-bottom: 12px;
}

.w150{
    min-width: 150px;
}